<html lang="es" lang="¿?">
<head>
    <title>Index</title>
    <link rel="stylesheet" href="../Assets/CSS/style_index.css">
</head>

<body>
    <header>
    </header>

    <main>
       <form>
        <div class="login-form">
            <h1>Retos</h1>
            <button class="index-button" onclick=""><a href="reto1.html"> RETO 1</a></button>
            <button class="index-button" onclick=""><a href="reto2.html"> RETO 2</a> </button>
            <button class="index-button" onclick=""><a href="reto3.html"> RETO 3</a> </button>
            <button class="index-button" onclick=""><a href="reto4.html"> RETO 4</a> </button>
            <button class="index-button" onclick=""><a href="reto5.html"> RETO 5</a> </button>
            <button class="index-button" onclick=""><a href="reto6.html"> RETO 6</a> </button>
            <button class="index-button" onclick=""><a href="reto7.html"> RETO 7</a> </button>
        </div> 
       </form>
    </main>
</body>
</html>