<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<title>Conversor de Temperatura</title>
<link rel="stylesheet" type="text/css" href="../Assets/CSS/style_reto2.css">
</head>

<body>
 <div>
<h2>Conversor de Temperatura</h2>

<label for="temperatura">Temperatura en grados:</label>
<input type="number" id="temperatura" step="any">
<br>

<label for="conversionDesde">Vas a convertir de:</label>
  <select id="conversionDesde">
   
<option value="celsius">Celsius</option>

<option value="fahrenheit">Fahrenheit</option>
   
<option value="kelvin">Kelvin</option>
</select>

<br>
<label for="conversionHacia">Deseas convertir a:</label>
  
<select id="conversionHacia">
   
<option value="celsius">Celsius</option>
 
<option value="fahrenheit">Fahrenheit</option>
    
   
<option value="kelvin">Kelvin</option>
  
</select>
<br>
<br>
<button onclick="Conversion()">Convertir</button>

<script type="text/JavaScript" src="../Assets/JAVA/reto2.js"></script>
 </div>
</body>

</html>