<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Comprobar selección de instructor</title>
    <link rel="stylesheet" type="text/css" href="../Assets/CSS/style_reto4.css">
</head>

<body>
  <div>
<h2>Comprobar selección de instructor</h2>

<label for="nombre">Nombre:</label>
  
 
<select id="nombre">
    
<option value="0">Juan</option>
   
<option value="1">María</option>
    
<option value="2">Carlos</option>

<option value="3">Laura</option>

</select>
<br>
<label for="apellido">Apellido:</label>
  
 
<select id="apellido">
       
<option value="0">Pérez</option>
    
<option value="1">González</option>
    
<option value="2">Ramírez</option>
    
<option value="3">Rodríguez</option>
  
 
</select>
  <br>
<label for="actividad">Actividad:</label>
  
 
<select id="actividad">
    
<option value="0">Yoga</option>
    
<option value="1">Pilates</option>
    
<option value="2">Zumba</option>
    
<option value="3">Aeróbicos</option>
 
</select>
<br>
<button onclick="comprobarSeleccion()">Comprobar</button>
</div>
<p id="resultado"></p>
<script type="text/JavaScript" src="../Assets/JAVA/reto4.js"></script>
</body>
</html>